name: 001 push 到 main 分支的时候输出 Hello GitHub Actions

on:
  push:
    branches: [main]

jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: 步骤 1
        run: echo "Hello GitHub Actions 1"
      - name: 步骤 2
        run: echo "Hello GitHub Actions 2"
      - name: 步骤 3
        run: echo "Hello GitHub Actions 3"
