name: 主工作流

on:
  push:
    branches: [main]
    # paths:
    #   - "targetDir/**"

jobs:
  main-job:
    runs-on: ubuntu-latest
    env:
      _var_job_name: main-job
      _var_job_desc: 一些描述
    steps:
      - name: step1 输出系统信息
        run: uname -a
      - name: step2 输出工作目录
        run: pwd
      - name: step3 输出时间
        run: date
      - name: step4 输出环境变量
        run: env
  secondary-job:
    runs-on: ubuntu-latest
    steps:
      - name: 步骤 1
        run: echo "Hello GitHub Actions 1"
      - name: 步骤 2
        run: echo "Hello GitHub Actions 2"
