name: 001 push to main print hello world

on:
  push:
    branches: [main]

jobs:
  print-hello-world:
    runs-on: ubuntu-latest
    steps:
      - name: 这是一个输出 Hello GitHub 的 step
        run: echo "Hello GitHub Actions"
