name: 001 push 到 main 分支的时候输出 Hello GitHub Actions

on:
  push:
    branches: [main]

jobs:
  job-hello-world-1:
    runs-on: ubuntu-latest
    steps:
      - name: 步骤 1
        run: echo "Hello GitHub Actions 1"
      - name: 步骤 2 输出工作目录
        run: pwd
      - name: 步骤 3 输出时间
        run: date
      - name: 步骤 4 ping qq.com
        run: ping -c 4 qq.com
  job-hello-world-2:
    runs-on: ubuntu-latest
    steps:
      - name: 步骤 1
        run: echo "Hello GitHub Actions 1"
      - name: 步骤 2
        run: echo "Hello GitHub Actions 2"
      - name: 步骤 3
        run: echo "Hello GitHub Actions 3"
