name: 主工作流

on:
  push:
    branches: [main]
    # paths:
    #   - "targetDir/**"

jobs:
  main-job:
    runs-on: ubuntu-latest
    env:
      _var_job_name: main-job
      _var_job_desc: 一些描述
    strategy:
      matrix:
        node: [16, 18]
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: step1 输出系统信息
        run: uname -a
      - name: step2 输出工作目录
        run: pwd
      - name: step3 输出时间
        run: date
      - name: step4 输出全部环境变量
        run: env
      - name: step5 输出指定环境变量
        run: echo "$_var_job_name, $_var_job_desc"

  generate:
    runs-on: ubuntu-latest
    outputs:
      random: ${{ steps.random.outputs.value }}
    steps:
      - name: Generate random number 0 or 1
        id: random
        run: echo "value=$((RANDOM % 2))" >> $GITHUB_OUTPUT
      - name: Show generated random number
        run: echo "Random number is ${{ steps.random.outputs.value }}"

  consume:
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Use random number from previous job
        run: echo "Got random number = ${{ needs.generate.outputs.random }}"
      - name: run if random is 1
        if: ${{ needs.generate.outputs.random == '1' }}
        run: echo "Random number is 1 so i run.."

  react:
    runs-on: ubuntu-latest
    steps:
      - name: 拉取仓库代码
        uses: actions/checkout@v4

      - name: 设置 Node.js 版本
        uses: actions/setup-node@v4
        with:
          node-version: 18 # 或者你的项目所需的版本
          cache: "npm" # 自动缓存 node_modules，加速安装

      - name: npm install
        run: npm install
