name: 主工作流

on:
  push:
    branches: [main]
    # paths:
    #   - "targetDir/**"

jobs:
  main-job:
    runs-on: ubuntu-latest
    env:
      _var_job_name: main-job
      _var_job_desc: 一些描述
    strategy:
      matrix:
        node: [16, 18]
        os: [ubuntu-latest, windows-latest]
    steps:
      - name: step1 输出系统信息
        run: uname -a
      - name: step2 输出工作目录
        run: pwd
      - name: step3 输出时间
        run: date
      - name: step4 输出全部环境变量
        run: env
      - name: step5 输出指定环境变量
        run: echo "$_var_job_name, $_var_job_desc"

  generate:
    runs-on: ubuntu-latest
    outputs:
      random: ${{ steps.random.outputs.value }}
    steps:
      - name: Generate random number 0 or 1
        id: random
        run: echo "value=$((RANDOM % 2))" >> $GITHUB_OUTPUT

      - name: Show generated random number
        run: echo "Random number is ${{ steps.random.outputs.value }}"

  consume:
    runs-on: ubuntu-latest
    needs: generate
    steps:
      - name: Use random number from previous job
        run: echo "Got random number = ${{ needs.generate.outputs.random }}"
