name: 测试 actions/checkout

on:
  push:
    branches: ["main"]

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: 先列出文件
        run: ls -la
      - name: 使用 actions/checkout@v4
        uses: actions/checkout@v4
      - name: 再列出文件
        run: ls -la

  nodeVersion:
    needs: checkout
    runs-on: ubuntu-latest
    steps:
      - name: 先看看 node 版本
        run: node -v
      - name: 使用 actions/setup-node@v4
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: 再看看 node 版本
        run: node -v

  logSecretToken:
    needs: nodeVersion
    runs-on: ubuntu-latest
    steps:
      - name: 输出 secrets.token
        run: echo "My secret is ${{ secrets.token }}"
